<html>
<ng-app="Inukbook">
    <head>
        <title>Inukbook</title>
    </head>
    <body>
        <div layout="row">
            <div flex="30" flex-offset="10">
                <h2>Inukbook</h2>
                <p>This is the project skeleton for <b>Inukbook</b>.<br><br>
                I've got it set up with a <b>MEAN</b> stack.<br><br>
                <b>M</b>ySQL<br>
                <b>E</b>xpressJS<br>
                <b>A</b>ngularJS<br>
                <b>N</b>odeJS (which is fucking amazing)
                </p>
            </div>
            <div flex="25" flex-offset="3">
                <br><br><br><br>
                <h4>Pulled from database (via http GET):</h4>
                <div ng-repeat="user in users">
                    <p>UserID: <b>{{user.UserID}}</b><br>
                    Name: <b>{{user.Name}}</b><br><br></p>
                </div>
            </div>
            <div flex="25" flex-offset="5">
                <br><br><br><br>
                <h4>Pulled from database (via socket):</h4>
                <div ng-repeat="user in socketUsers">
                    <p>UserID: <b>{{user.UserID}}</b><br>
                    Name: <b>{{user.Name}}</b><br><br></p>
                </div>
            </div>
        </div>
        <br><br><br><br>
        <div layout="row">
            <div flex="30" flex-offset="10">
                <h3>Dominic Gagne and Oliver Cook</h3>
            </div>
            <div flex="45" flex-offset="3">
                <p>This page is just meant to show that we have our stack set up and all components are communicating with each other.  The database has been created and the information display has been pulled from it.  I've used both http and sockets to pull the information, just as a proof of concept.  The sockets will be used for uploading multimedia to the server.</p>
            </div>
        </div>
    </body>
</html>
