<html> 
<ng-app="Inukbook">
    <head>
        <title>Inukbook</title>
    </head>
    <body>
        <div layout="row">
            <div flex="30" flex-offset="10">
                <h2>Blank App.</h2>
                <p>This is the project skeleton for <b>your app name here</b>.<br><br>
                I've got it set up with a <b>MEAN</b> stack.<br><br>
                <b>M</b>ySQL<br>
                <b>E</b>xpressJS<br>
                <b>A</b>ngularJS<br>
                <b>N</b>odeJS (which is amazing)
                </p>
            </div>
        </div>
        <br><br><br><br>
        <div layout="row">
            <div flex="30" flex-offset="10">
                <h3>Dominic Gagne</h3>
            </div>
        </div>
    </body>
</html>

